<h1>Nuevo Documental</h1>

<%= form_with model: @documental, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :synopsis %>
    <%= form.text_field :synopsis %>
  </div>

  <div>
    <%= form.label :director %>
    <%= form.text_field :director %>
  </div>

  <div>
    <%= form.submit 'Crear Documental' %>
  </div>
<% end %>

